<!DOCTYPE html>
<html lang="ko">
<head>
  <% include ../partials/head %>
</head>
<body>
  <% include ../partials/nav %>
  <div class="container">
    <p>
      <div class="row">

      </div>
    </p>
  </div>
  <% include ../partials/script %>
  <script>
    jQuery(document).ready(function() {
      
    });
  </script>
</body>
</html>
